{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/csv_index.css') }}">

<h1>CSV DATA PAGE</h1>

<!-- Start of main section -->
<main role='Main'>

  <div>
    <h1>Analyzing CSV Data</h1>
  </div>

  <section>

    <div>
      <h1>Search for Max Rating for Genre and Year</h1>
      <h4>Please enter a year 1930-2000</h4>
      <p>Enter Year:<input type="text" id='year' size="10" name='year'></p>
      <select id='genre' name='genre'>
        <option value='Sports'>Sports</option>
        <option value='Racing'>Racing</option>
        <option value='Platform'>Platform</option>
        <option value='Action'>Action</option>
        <option value='Puzzle'>Puzzle</option>
        <option value='Shooter'>Shooter</option>
        <option value='Fighting'>Fighting</option>
        <option value='Shooter'>Platform</option>
        <option value='Simulation'>Simulation</option>
        <option value='Role-Playing'>Role-Playing</option>
        <option value='Adventure'>Adventure</option>
        <option value='Strategy'>Strategy</option>
        <option value='Misc'>Misc</option>
      </select>
      <p>Result: <span id="max_rating_results">?</span></p>
      <p><a onclick="validateYear()" href=# id="max_rating">Return Max Rating</a></p>
    </div>

  </section>

</main>
<!-- End of main section -->

<script src='{{ url_for('static', filename='js/csvData.js') }}'></script>
{% endblock %}

<!-- [ 'Misc' 'Simulation' 'Role-Playing' 'Adventure' 'Strategy'] -->