{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/csv_index.css') }}">
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />      
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>

<!-- start of heading section -->
<header role='heading'>
  <div>
    <h1>CSV DATA PAGE</h1>
    <h3>Analyzing the CSV Data</h3>
  </div>
</header>
<!-- end of heading section -->

<!-- Start of main section -->
<main role='Main'>

  <div class='center'>
    <h3>Basic Information</h3>
  </div>

  <section class='basic_information'>

    <div>
      <p>Correlation Between global sales and critic score: {{ score_sales_correlation }} (Very Weak)</p>
      <p>Average game rating: {{ mean_game_rating }} (All years and genre)</p>
    </div>

  </section>

  <div class='center'>
    <h3>Simple Queries</h3>
  </div>

  <section class='simple_query_section'>

    <div class='box1'>
      <h4>Max Rating by Genre and Year</h4>
      <h6>Please enter a year 2000-2016</h6>
      <p>Enter Year:<input type="text" id='year' size="10" name='year'></p>
      <select id='genre' name='genre'>
        <option value='Sports'>Sports</option>
        <option value='Racing'>Racing</option>
        <option value='Platform'>Platform</option>
        <option value='Action'>Action</option>
        <option value='Puzzle'>Puzzle</option>
        <option value='Shooter'>Shooter</option>
        <option value='Fighting'>Fighting</option>
        <option value='Shooter'>Platform</option>
        <option value='Simulation'>Simulation</option>
        <option value='Role-Playing'>Role-Playing</option>
        <option value='Adventure'>Adventure</option>
        <option value='Strategy'>Strategy</option>
        <option value='Misc'>Misc</option>
      </select>
      <p>Result: <span id="max_rating_results">?</span></p>
      <p><a onclick="validateYear()" href=# id="max_rating">Return Max Rating</a></p>
    </div>

    <div class='box2'>
      <h4>Max Earnings by Genre</h4>
      <h6>Please Select a Genre</h6>
      <select id='genre_max_earnings' name='genre'>
        <option value='Sports'>Sports</option>
        <option value='Racing'>Racing</option>
        <option value='Platform'>Platform</option>
        <option value='Action'>Action</option>
        <option value='Puzzle'>Puzzle</option>
        <option value='Shooter'>Shooter</option>
        <option value='Fighting'>Fighting</option>
        <option value='Shooter'>Platform</option>
        <option value='Simulation'>Simulation</option>
        <option value='Role-Playing'>Role-Playing</option>
        <option value='Adventure'>Adventure</option>
        <option value='Strategy'>Strategy</option>
        <option value='Misc'>Misc</option>
      </select>
      <p>Result: <span id="max_earnings_results">?</span></p>
      <p><a onclick="validateYear()" href=# id="max_earnings">Return Max Rating</a></p>
    </div>

  </section>

  <div class='center'>
    <h3>Graph Area</h3>
  </div>

  <section class='graph_section'>

    <div class="bk-root">
      <div class="bk-plotdiv" id="1921ea58-3819-4d1f-a4e8-acb315e5e111"></div>
    </div>

  </section>

</main>
<!-- End of main section -->

<script src='{{ url_for('static', filename='js/csvData.js') }}'></script>
<script src='{{ url_for('static', filename='js/graph.js') }}'></script>
{% endblock %}

<!-- [ 'Misc' 'Simulation' 'Role-Playing' 'Adventure' 'Strategy'] -->