{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">

<!-- Start of the main section -->
<main>

  <div class='picture_one'>

    <div class='div_styling'>
      <h1><a href="{{ url_for('csv_data.homepage') }}">CSV Data</a></h1>
    </div>

  </div>

  <div class='picture_two'>

    <div class='div_styling'>
      <h1><a href="{{ url_for('scraping.scraping_homepage') }}">Web Scraping Data</a></h1>
    </div>

  </div>

</main>
<!-- End of the main section -->


{% endblock %}