<!DOCTYPE html>
<html>
<head>
  <title>Game Ratings</title>
  <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  
<!-- Main div that will contain the rest of the page -->
<div class='container'>

  <nav role='Navigation'>
    <ul>
      <li><a class='font font_big enter_link' href="{{ url_for('site.home') }}">Enter</a></li>
    </ul>
  </nav>

  <section class='main_image' role='Banner'>

    <div>
      <h3 class='home_page_title'>Analyzing Games</h3>
    </div>

  </section>

  <section class='left_image'>

  </section>

  <section class='right_image'>

  </section>

</div>
<!-- End of the main div -->

<!-- <script src='{{ url_for('static', filename='js/index.js') }}'></script> -->
</body>
</html>