/* The CSS in this file will cover the home page */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  'nav main_image main_image'
  'nav main_image main_image'
  'nav left_image right_image'
  'nav left_image right_image';
  height: 650px;
  max-width: 1000px;
  border: 2px solid black;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

ul {
  list-style-type: none;
}

ul li a {
  font-size: 45px;
}

.main_image {
  grid-area: main_image;
  background-image: url(../img/arcade.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_image > div {
  background-color: rgba(0,0,0,0.8);
  padding: 15px;
  border-radius: 15px;
}

.home_page_title {
  color: white;
}

.left_image {
  grid-area: left_image;
  background-image: url(../img/controller.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right_image {
  grid-area: right_image;
  background-image: url(../img/xbox_controller.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}