/* The code in this file all deals with the csv_index.html page */

/***********************
Code for the header section 
************************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}