/************************
The code in this file will deal with the all the html pages  
*************************/

hr.style5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}

.font {
  font-family: 'Gaegu', cursive;
}

.font_big {
  font-size: 75px;
}

.font_medium {
  font-size: 50px;
}

/* Code for buttons */
button {
  margin-top: 10px;
  background-color: #4286f4;
  color: #f4b042;
  border-color: #4286f4;
  border-radius: 10px;
}
